[user]
	name = Brian Samek
	email = brian.samek@mongodb.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAHhn/8y7u/eIV3Uh8cebOmLklKZaHCO5QpWVwr8XcBk
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[merge]
	conflictStyle = zdiff3
[pull]
	rebase = true
[init]
	defaultBranch = main
[rebase]
	updateRefs = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
