[user]
	name = Brian Samek
	email = brian.samek@mongodb.com
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[merge]
	conflictStyle = zdiff3
[pull]
	rebase = true
[init]
	defaultBranch = main
[rebase]
	updateRefs = true
